body {
    background: url("Imagenes/fondo.jpg");
    background-size: 1300px;
}
h1{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    margin-left: 30px;
}
h3{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
#trayectoria {
    position: absolute;
    right: 4%;
    bottom: 5%;
}
#inicio {
    text-align: left;
    font-size: 30px;
    padding-right: 400px;
    color: white;
    margin-left: 30px;
    line-height: 50px;
}

#formulas{
    margin-left: 30px;
}

footer {
    background-color: rgba(80, 106, 133, 0.7);
    color: black;
    bottom:0;
    width:100%;
    height:100px;
    padding-top: 20px;
}
.titulofooter{
    font-family: "Arial Black";
    color: white;
    text-align: center;
}
.autores{
    font-family: "Bodoni 72";
    color: white;
    text-align: center;
}
/*#formula1 {
    border: 1px solid black;
    position: absolute;
    height: 250px;
    width: 450px;
    left: 90px;


}
#formula2 {
    border: 1px solid black;
    height: 250px;
    width: 375px;
    /*left: 400px;*/
    /*top: 400px;
    position: absolute;position: absolute;
    left: 470px;
    text-align: center;

}
#formula3 {
    border: 1px solid black;
    height: 250px;
    width: 400px;
    /*left: 400px;*/
    /*top: 400px;
    position: absolute;position: absolute;
    right: 10px;
    text-align: center;
}*/

#simulacion {
    width: 100%;
    height: 550px;
}
#creditos {
    text-align: center;
}
#imgformulas {
    height: 130px;
    width: 250px;
}
#faltmax {
    height: 150px;
    width: 300px;
}
#falcance {
    height: 130px;
    width: 250px;
}
#ftiempovuelo {
    height: 130px;
    width: 250px;
}
.boton {

    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;

}
#botonf{
    background-color: limegreen;
    box-shadow: green;
}
#botons{
    background-color: orangered;
    box-shadow: darkred;
}
.botones{
padding-bottom: 20px;
    text-align: center;
}
